node_modules/
dist/
.DS_Store

.trae/

*.profraw
default.profraw

*.apk
*.aab
*.idsig

src-tauri/target/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/.idea/
src-tauri/gen/android/.tauri/
src-tauri/gen/android/app/build/
src-tauri/gen/android/local.properties
src-tauri/gen/android/key.properties
